%btn-shadow {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
.btn {
  font-size: 14px !important;
  @extend %btn-shadow;
  &:focus,
  &:active:focus {
    @extend %btn-shadow;
  }
  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  }
  &.btn-close {
    background-color: transparent;
    width: 32px;
    height: 32px;
    line-height: 38px;
    i:before {
      color: color(black-color);
      font-size: 26px;
      line-height: 26px;
    }
    &:hover {
      background: lighten(color(black-color), $amount: 70);
    }
  }
}
